.side-bar{
      width: 30%;
      border-right: 3px solid var(--line-color);
}
.side-bar__header{
      height: 52px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
}
.side-bar__header span{
      font-size: 24px;
      color: var(--text-color);
}
.cus-sidebar-btn{
      font-size: 14px;
      padding: 4px 4px;
      width: 36px;
      height: 36px;
      background-color: var(--line-color);
      border-radius: 100%;
      margin: 0px 2px;
}
.chat--group__list{
      height: calc(100vh - 110px);
      overflow-y: scroll;
}
.side-bar__chat--list{
      padding: 8px 4px;
      display: flex;
      flex-direction: column;
}
.side-bar__chat--list li{
      margin: 6px 0px;
      list-style: none;
      height: 68px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
}
.side-bar__chat--list li:hover{
      background-color: #252F3C;
}
.chat--list__item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 6px;
      height: 100%;
}
.list__item--left{
      display: flex;
      flex-direction: row;
}
.chat--list__item--img{
      display: flex;
      flex-direction: row;
}
.chat--list__item--img img{
      width: 36px;
      height: 36px;
      border-radius: 100%;
}
.chat--list__item--content{
      margin-left: 6px;
      display: flex;
      flex-direction: column;
}
.item--content__name{
      font-size: 14px;
      color: var(--text-color);
      line-height: 20px;
}
.item--content__desc{
      font-size: 12px;
      color: #B0B3B8;
}
.list__item--right{
      color: var(--text-color);
}
/* responsive */
@media only screen and (min-width: 740px) and (max-width: 1023px){
      .side-bar{
            width: 41.666%;
      }
      .side-bar__header{
            padding: 0px 6px;
      }
      .chat--list__item--img img{
            width: 28px;
            height: 28px;
      }
}
/* Mobile */
@media only screen and (max-width: 739px){
      .side-bar{
            z-index: 2;
            width: 100%;
            transition: all 0.3s;
      }
      .side-bar-hide{
            margin-left: -100%;
      }
}