.cus-header{
      padding: 0px 50px;
      height: 56px;
      background-color: var(--back-groundColor);
      border-bottom: 3px solid var(--line-color);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
}
.header__user{
      display: flex;
      flex-direction: row;
      align-items: center;
}
.header__user--avatar{
      width: 30px;
      height: 30px;
      border-radius: 100%;
}
.header__user--name{
      font-size: 14px;
      color: var(--text-color);
      margin: 0px 8px;
}
.logout-btn{
      padding: 4px 12px;
      height: 38px;
      background-color: var(--line-color);
      font-size: 16px;
}
/* Mobile */
@media only screen and (max-width: 739px){
      .cus-header{
            padding: 0px 4px;
      }
}